*{
    overflow-wrap: break-word;
}
.error{
    color:red;
}

.padding-top {
    padding-top: 30px;
}

.padding-bottom {
    padding-bottom: 30px;
}

.ui-widget-header {
    border: 0px solid black;
    background-color: white;
}

.ui-widget-content {
    background-color: white;
    border: 0px solid black;
}

.ui-paginator.ui-paginator-top {
    padding-bottom: 20px;
}

.ui-paginator.ui-paginator-bottom {
    padding-top: 20px;
}

ul {
    padding-left: 0px !important;
}

.amountInput {
    width: 20%;
    display: inline;
    margin-left: 10px;
}

.productDeleteIcon{
    margin-left: 10px;
    color: red;
    cursor: pointer;
}
@media (max-width: 999px) {
    .content-to-hide-xs {
        display: none;
    }
}
@media (min-width: 1000px) {
    .content-to-hide-lg {
        display: none;
    }
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    box-shadow: none;
    padding: .375rem .75rem !important;
}

.container{
    padding-top: 15px;
}
