<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        <p:commandLink styleClass="navbar-brand" value="MediaShop" action="#{adminController.backToWebshop()}" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <h:form >
                <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                <ul class="navbar-nav bg-dark">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="producten" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Producten
                        </a>
                        <div class="dropdown-menu" aria-labelledby="producten">
                            <h:link styleClass="dropdown-item" outcome="cd.xhtml" value="CD"/>
                            <h:link styleClass="dropdown-item" outcome="dvd.xhtml" value="DVD"/>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="medewerkers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Medewerkers
                        </a>
                        <div class="dropdown-menu" aria-labelledby="medewerkers">
                            <h:link styleClass="dropdown-item" outcome="support.xhtml" value="Support"/>
                            <h:link styleClass="dropdown-item" outcome="admin.xhtml" value="Administratoren"/>
                        </div>
                    </li>

                    <li class="nav-item">
                        <h:link value="Support" outcome="/support/index.xhtml" styleClass="nav-link"/>
                    </li>
                </ul>
            </h:form>

        </div>
    </nav>
</ui:composition>