<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">

    <ui:define name="content">
        <div class="container">
            <div class="row padding-top">
                <div class="col-sm-12 text-center">
                    <h1>Cd producten</h1>
                    <h:form>
                        <div class="form-group">
                            <h:commandButton action='#{adminController.newProduct("cd")}' value="Nieuwe cd" class="btn btn-primary"/>
                        </div>
                    </h:form>
                    <div>
                        <p:dataList value="#{adminController.getProducts('cd')}" var="cd" type="unordered" itemType="none" paginator="true" rows="30" styleClass="paginated">
                            <h:form>
                                <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                                <div>
                                    <h:commandLink value="#{cd.name}" action="#{adminController.editProduct(cd)}" />
                                </div>
                            </h:form>
                        </p:dataList>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
