<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" template="layout.xhtml">

<ui:define name="content">
    <div class="container">
        <div class="row padding-top">
            <div class="col-sm-12">
                <h:form enctype="multipart/form-data">
                    <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                    <div class="form-group">
                        <h:outputLabel value="Code cd: " for="code" />
                        <h:inputText id="code" value="#{adminController.newProduct.code}" title="code" class="form-control" required="true" requiredMessage="Code is verplicht" />
                        <h:message for="code" class="error"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Naam cd: " for="name" />
                        <h:inputText id="name" value="#{adminController.newProduct.name}" title="name" class="form-control" required="true" requiredMessage="Naam is verplicht" />
                        <h:message for="name" class="error"/>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="Prijs cd: " for="price" />
                        <h:inputText id="price" value="#{adminController.newProduct.price}" title="price" class="form-control" required="true" requiredMessage="Code is verplicht"
                                     converterMessage="U kan alleen maar getallen ingeven"/>
                        <h:message for="price" class="error"/>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="Beschrijving cd: " for="description" />
                        <h:inputTextarea rows="10" id="description" value="#{adminController.newProduct.description}" title="desciption" class="form-control" required="true" requiredMessage="beschrijving is verplicht" />
                        <h:message for="description" class="error"/>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="aantal in stock: " for="stock" />
                        <h:inputText id="stock" value="#{adminController.newProduct.stock}" title="stock" class="form-control" required="true" requiredMessage="Stock is verplicht"
                                     converterMessage="U kan alleen maar getallen ingeven"/>
                        <h:message for="stock" class="error"/>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="Uitgever cd: " for="publisher" />
                        <h:inputText id="publisher" value="#{adminController.newProduct.publisher}" title="publisher" class="form-control" required="false"  />
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="Artiest cd: " for="artist" />
                        <h:inputText id="artist" value="#{adminController.newProduct.artists}" title="artist" class="form-control" required="true" requiredMessage="Artiest is verplicht" />
                        <h:message for="artist" class="error"/>
                    </div>

                    <div class="form-group">
                        <h:inputText id="datum"  value="#{adminController.newProduct.releaseDate}" required="true" requiredMessage="Datum is verplicht"
                                     converterMessage="Formaat is dd-mm-yyyy" title="Datum" class="form-control">
                            <f:convertDateTime pattern="dd-MM-yyyy" timeZone="GMT+1" />
                        </h:inputText>
                        <h:message for="datum" class="error"/>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="Genre cd: " for="genre" />
                        <h:inputText id="genre" value="#{adminController.newProduct.genres}" title="genre" class="form-control" required="true" requiredMessage="Genre is verplicht" />
                        <h:message for="genre" class="error"/>
                    </div>


                    <div class="form-group">
                        <h:outputLabel value="Foto uploaden: " for="image" />
                        <p:fileUpload value="#{adminController.file}" id="image" mode="simple" skinSimple="true" sizeLimit="5242880" allowTypes="/(\.|\/)(jpg)$/" />
                    </div>

                    <div class="form-group">
                        <h:commandButton action="#{adminController.saveProduct()}" value="Opslaan" class="btn btn-primary"/>
                        <c:if test="#{adminController.editting}">
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                                Verwijder
                            </button>
                        </c:if>
                    </div>
                </h:form>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Ben je zeker?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ben je zeker dat je deze cd wil verwijderen uit de webshop?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <h:form>
                            <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                            <h:commandButton action="#{adminController.deleteProduct()}" value="Verwijder" class="btn btn-danger"/>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui:define>


</ui:composition>