<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" template="layout.xhtml">


<ui:define name="content">
    <div class="container">
        <div class="row padding-top" >
            <div class="col-sm-12">
                <h:form enctype="multipart/form-data">
                    <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                    <div class="form-group">
                        <h:outputLabel value="Code dvd: " for="code" />
                        <h:inputText id="code" value="#{adminController.newProduct.code}" title="code" class="form-control" required="true" requiredMessage="Code is verplicht" />
                        <h:message for="code" class="error"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Naam dvd: " for="name" />
                        <h:inputText id="name" value="#{adminController.newProduct.name}" title="name" class="form-control" required="true" requiredMessage="Naam is verplicht" />
                        <h:message for="name" class="error"/>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="Prijs dvd: " for="price" />
                        <h:inputText id="price" value="#{adminController.newProduct.price}" title="price" class="form-control" required="true" requiredMessage="Code is verplicht"
                                     converterMessage="U kan alleen maar getallen ingeven"/>
                        <h:message for="price" class="error"/>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="Beschrijving dvd: " for="description" />
                        <h:inputTextarea rows="10" id="description" value="#{adminController.newProduct.description}" title="desciption" class="form-control" required="true" requiredMessage="beschrijving is verplicht" />
                        <h:message for="description" class="error"/>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="aantal in stock: " for="stock" />
                        <h:inputText id="stock" value="#{adminController.newProduct.stock}" title="stock" class="form-control" required="true" requiredMessage="Stock is verplicht"
                                     converterMessage="U kan alleen maar getallen ingeven"/>
                        <h:message for="stock" class="error"/>
                    </div>

                    <!-- hier moet nog imagefolder komen -->

                    <div class="form-group">
                        <h:outputLabel value="Regisseur dvd: " for="director" />
                        <h:inputText  id="director" value="#{adminController.newProduct.director}" title="director" class="form-control" required="false" />
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="Uitgever dvd: " for="distributor" />
                        <h:inputText id="distributor" value="#{adminController.newProduct.distributor}" title="distributor" class="form-control" required="false" />
                    </div>

                    <div class="form-group">
                        <h:inputText id="datum"  value="#{adminController.newProduct.releaseDate}" required="true" requiredMessage="Datum is verplicht"
                                     converterMessage="Formaat is dd-mm-yyyy" title="Datum" class="form-control">
                            <f:convertDateTime pattern="dd-MM-yyyy" timeZone="GMT+1" />
                        </h:inputText>
                        <h:message for="datum" class="error"/>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="Imdb link " for="imdb" />
                        <h:inputText id="imdb" value="#{adminController.newProduct.imdbLink}" title="imdb" class="form-control" required="false" />
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="Acteurs: : " for="actors" />
                        <h:inputText id="actors" value="#{adminController.newProduct.actors}" title="actors" class="form-control" required="false" />
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="duur in minuten: " for="duration" />
                        <h:inputText id="duration" value="#{adminController.newProduct.duration}" title="duration" class="form-control" required="true" requiredMessage="Duurtijd in verplicht" />
                        <h:message for="duration" class="error" />
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="taal: " for="language" />
                        <h:inputText id="language" value="#{adminController.newProduct.languages}" title="languages" class="form-control" required="false" />
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="talen ondertiteling: " for="subtitles" />
                        <h:inputText id="subtitles" value="#{adminController.newProduct.subtitles}" title="subtitles" class="form-control" required="false" />
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="Foto uploaden: " for="imageDvd" />
                        <p:fileUpload value="#{adminController.file}" id="imageDvd" mode="simple" skinSimple="true" sizeLimit="5242880" allowTypes="/(\.|\/)(jpg)$/" />
                    </div>

                    <div class="form-group">
                        <h:commandButton action="#{adminController.saveProduct()}" value="Opslaan" class="btn btn-primary"/>
                        <c:if test="#{adminController.editting}">
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                                Verwijder
                            </button>
                        </c:if>
                    </div>
                </h:form>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Ben je zeker?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ben je zeker dat je deze dvd wil verwijderen uit de webshop?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <h:form>
                            <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                            <h:commandButton action="#{adminController.deleteProduct()}" value="Verwijder" class="btn btn-danger"/>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui:define>
</ui:composition>