<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
>
<h:body>
    <ui:composition template="layout.xhtml">
        <ui:define name="content">
            <div class="container">
                <div class="row padding-top justify-content-center align-items-center">
                    <div class="col-sm-8 text-center">

                        <div class="col-sm-12">
                            <h2>Welkom op het administratiepaneel</h2>
                        </div>


                        <div class="row">
                            <div class="col-sm-6 padding-top">
                                <h:button styleClass="font-weight-bold btn btn-outline-dark" style="width:200px; height: 100px"
                                          outcome="cd.xhtml"
                                          value="CD"/>
                            </div>
                            <div class="col-sm-6 padding-top">
                                <h:button styleClass="font-weight-bold btn btn-outline-dark" style="width:200px; height: 100px"
                                          outcome="dvd.xhtml"
                                          value="DVD"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 padding-top">
                                <h:button styleClass="font-weight-bold btn btn-outline-dark" style="width:200px; height: 100px"
                                          outcome="support.xhtml"
                                          value="Support"/>
                            </div>
                            <div class="col-sm-6 padding-top">
                                <h:button styleClass="font-weight-bold btn btn-outline-dark" style="width:200px; height: 100px"
                                          outcome="admin.xhtml"
                                          value="Administratoren"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 padding-top">
                                <h3>Support</h3>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-6 padding-top">
                                <h:button styleClass="font-weight-bold btn btn-outline-dark" style="width:200px; height: 100px"
                                          outcome="/support/orders.xhtml?faces-redirect=true"
                                          value="Bestellingen"/>
                            </div>
                            <div class="col-sm-6 padding-top">
                                <h:form>
                                    <h:commandButton styleClass="font-weight-bold btn btn-outline-dark"
                                                     style="width:200px; height: 100px"
                                                     action="#{ticketController.supportTicketLists()}"
                                                     value="Tickets"/>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>