<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <f:facet name="first">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>primestrap</title>
    </f:facet>
    <f:facet name="middle">
        <h:outputStylesheet name="css/bootstrap.min.css"/>
        <h:outputStylesheet name="css/style.css" />

    </f:facet>
    <f:facet name="last">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <h:outputScript name="js/bootstrap.min.js" />

    </f:facet>
</h:head>
<h:body>

    <ui:include src="adminHeader.xhtml"/>

    <ui:insert name="content">
        test
    </ui:insert>
</h:body>
</html>
