<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">

    <ui:define name="content">
        <div class="container">

            <div class="row padding-top">
                <div class="col-sm-12 text-center">
                    <h1>Support medewerkers</h1>
                    <h:form>
                        <div class="form-group">
                            <h:commandButton action="#{adminController.newUser('support')}" value="Nieuwe support medewerken" class="btn btn-primary"/>
                        </div>
                    </h:form>
                    <div>
                        <ul class="list-group">
                            <h:form>
                                <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                                <ui:repeat value="#{adminController.getAllUsers('support')}" var="supportUser">
                                    <li class="list-group-item"> <h:commandLink value="#{supportUser.firstName} #{supportUser.lastName}" action="#{adminController.editUser(supportUser)}" /></li>
                                </ui:repeat>
                            </h:form>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </ui:define>


</ui:composition>