<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" template="layout.xhtml">


<ui:define name="content">
    <div class="container">
        <div class="row padding-top">
            <div class="col-sm-12">
                <h:form>
                    <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                    <div>
                        <h:outputText value="#{adminController.errorMessage}" styleClass="error"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="Voornaam medewerker: " for="firstName" />
                        <h:inputText id="firstName" value="#{adminController.newUser.firstName}" title="firstName" class="form-control" required="true" requiredMessage="Voornaam is verplicht" />
                        <h:message for="firstName" class="error"/>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="Achternaam medewerker: " for="lastName" />
                        <h:inputText id="lastName" value="#{adminController.newUser.lastName}" title="lastName" class="form-control" required="true" requiredMessage="Achternaam is verplicht" />
                        <h:message for="lastName" class="error"/>
                    </div>


                    <div class="form-group">
                        <h:outputLabel value="E-mail medewerker: " for="email"/>
                        <h:inputText id="email" required="true" label="email"
                                     requiredMessage="E-mail is verplicht"
                                     validatorMessage="Geen correct e-mailadres"
                                     value="#{adminController.newUser.email}"
                                     class="form-control">

                            <f:validateRegex
                                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

                        </h:inputText>
                        <h:message for="email" class="error" />
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="Wachtwoord: " for="password" />
                        <h:inputSecret id="password" value="#{adminController.newUser.password}" title="password" class="form-control" />
                    </div>

                    <div class="form-group">
                        <h:commandButton action="#{adminController.saveUser()}" value="Opslaan" class="btn btn-primary"/>
                        <c:if test="#{adminController.editting}">
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                                Verwijder
                            </button>
                        </c:if>
                    </div>
                </h:form>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Ben je zeker?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ben je zeker dat je deze medewerker wil verwijderen?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <h:form>
                            <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                            <h:commandButton action="#{adminController.deleteUser()}" value="Verwijder" class="btn btn-danger"/>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui:define>
</ui:composition>