<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <div class="row">

        <div class="col-sm-3 font-weight-bold">Nummers</div>
        <div class="col-sm-9"><h:outputText value="#{productController.product.songs}"/> </div>

        <div class="col-sm-3 font-weight-bold">Artiesten</div>
        <div class="col-sm-9"><h:outputText value="#{productController.product.artists}"/></div>

        <div class="col-sm-3 font-weight-bold">Genres</div>
        <div class="col-sm-9"><h:outputText value="#{productController.product.genres}"/></div>

        <div class="col-sm-3 font-weight-bold">Releasedatum</div>
        <div class="col-sm-9">
            <h:outputText value="#{productController.product.releaseDate}">
                <f:convertDateTime type="both"  pattern="dd MMMM yyyy" locale="nl_BE" timeZone="Europe/Brussels"/>
            </h:outputText>
        </div>

        <div class="col-sm-3 font-weight-bold">Uitgever</div>
        <div class="col-sm-9"><h:outputText value="#{productController.product.publisher}"/></div>
    </div>
</ui:composition>