<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <div class="row">
        <div class="offset-sm-3 col-sm-9">
            <a class="btn btn-warning h3 font-weight-bold" href="#{productController.product.imdbLink}" target="_blank">IMDB</a>
        </div>

        <div class="col-sm-3 font-weight-bold">Genres</div>
        <div class="col-sm-9"><h:outputText value="#{productController.product.genres}"/> </div>

        <div class="col-sm-3 font-weight-bold">Speelduur</div>
        <div class="col-sm-9"><h:outputText value="#{productController.product.duration}"/> minuten</div>

        <div class="col-sm-3 font-weight-bold">Talen</div>
        <div class="col-sm-9"><h:outputText value="#{productController.product.languages}"/></div>

        <div class="col-sm-3 font-weight-bold">Ondertitels</div>
        <div class="col-sm-9"><h:outputText value="#{productController.product.subtitles}"/></div>

        <div class="col-sm-3 font-weight-bold">Releasedatum</div>
        <div class="col-sm-9">
            <h:outputText value="#{productController.product.releaseDate}">
                <f:convertDateTime type="both"  pattern="dd MMMM yyyy" locale="nl_BE" timeZone="Europe/Brussels"/>
            </h:outputText>
        </div>

        <div class="col-sm-3 font-weight-bold">Hoofdrol spelers</div>
        <div class="col-sm-9"><h:outputText value="#{productController.product.actors}"/></div>

        <div class="col-sm-3 font-weight-bold">Regisseur</div>
        <div class="col-sm-9"><h:outputText value="#{productController.product.director}"/></div>

        <div class="col-sm-3 font-weight-bold">Uitgever</div>
        <div class="col-sm-9"><h:outputText value="#{productController.product.distributor}"/></div>
    </div>
</ui:composition>