<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" template="layout.xhtml">


<ui:define name="content">
    <div class="container">
        <div class="row padding-top" >
            <div class="col-10 col-md-8">
                <h:form >
                    <div class="form-group">
                        <h:outputLabel value="Leverdatum: " for="Deliverdate" />
                        <h:inputText id="Deliverdate"  value="#{orderController.order.deliveryDate}" required="true" requiredMessage="Leverdatum is verplicht"
                                     converterMessage="Formaat is dd-mm-yyyy" title="Leverdatum" class="form-control">
                            <f:convertDateTime pattern="dd-MM-yyyy" timeZone="GMT+1" />
                        </h:inputText>
                        <h:message for="Deliverdate" class="error"/>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="Status van de bestelling: " for="status" />
                        <h:selectOneMenu value="#{orderController.order.orderStatus}" id="status" required="true" requiredMessage="Status is verplicht" class="form-control">
                            <f:selectItems value="#{orderController.orderStatuses}" />
                        </h:selectOneMenu>
                        <h:message for="status" class="error"/>
                    </div>

                    <div class="form-group" id="content">

                        <h3>Bestelde producten</h3>
                        <ui:repeat value="#{orderController.order.orderLines}" var="orderline" id="products">
                            <li class="list-group-item" id="#{orderline.id}">
                               <h:outputText value="#{orderline.product.name}"/>
                                <h:inputText id="amount" converterMessage="Alleen maar getallen toegestaan" class="form-control amountInput" value="#{orderline.amount}" type="number" required="true" requiredMessage="Je moet een aantal ingeven"/>
                                <h:message for="amount" class="error"/>

                                <h:commandLink action="#{orderController.setTempDelete(orderline)}">
                                    <f:ajax render="content:products" />
                                    <i data-id="#{orderline.id}" class="productDeleteIcon fa fa-trash-o"  aria-hidden="true"></i>
                                </h:commandLink>
                            </li>
                        </ui:repeat>
                    </div>

                    <div class="form-group">
                        <h:commandButton action="#{orderController.saveOrder()}" value="Opslaan" class="btn btn-primary"/>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                            Verwijder
                        </button>
                    </div>
                </h:form>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Ben je zeker?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ben je zeker dat je deze volledige bestelling wil verwijderen?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <h:form>
                            <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                            <h:commandButton action="#{orderController.deleteOrder()}" value="Verwijder" class="btn btn-danger"/>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>

        <!-- product delete Modal -->
        <div class="modal fade" id="productDelete" tabindex="-1" role="dialog" aria-labelledby="productDeleteLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productDeleteLabel">Ben je zeker?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ben je zeker dat je dit product uit de bestelling wil verwijderen?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <h:form>
                            <h:commandButton action="#{orderController.deleteOrderLine()}" value="Verwijder" class="btn btn-danger" id="productDeleteButton"/>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui:define>
</ui:composition>