<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">

    <ui:define name="content">
        <div class="container">
            <div class="row padding-top">
                <div class="col-12 text-center">
                    <h1>Bestellingen</h1>
                </div>

                <div class="col-12">
                    <h:form>
                        <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>

                        <div class="row padding-top padding-bottom justify-content-md-center">
                            <div class="col-sm-10 col-md-4">
                                <div class="form-group">
                                    <h:inputText id="email" value="#{orderController.email}" title="email" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-2 text-center">
                                <div class="form-group">
                                    <h:commandButton action="#{orderController.getOrdersByCustomer()}" value="Zoek op e-mail" class="btn btn-primary"/>
                                </div>
                            </div>
                        </div>
                    </h:form>
                </div>

                <div class="col-12 text-center">
                    <div>
                        <p:dataList value="#{orderController.orders}" var="order" type="unordered" itemType="none" paginator="true" rows="30" styleClass="paginated">
                            <h:form>
                                <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                                <div>
                                    <h:commandLink value="#{order.orderDate} -- #{order.customer.firstName} #{order.customer.lastName}" action="#{orderController.editOrder(order)}"/>
                                </div>
                            </h:form>
                        </p:dataList>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
