<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">
    <ui:define name="content">
        <div class="container">
            <div class="row padding-top justify-content-center align-items-center">
                <div class="col-sm-12 text-center">
                    <h1>Klantendienst Ticket</h1>
                    <div class="row">
                        <div class="col-sm-3">
                            <h2>Nieuw</h2>
                            <div>
                                <p:dataList value="#{ticketController.newTickets}" var="ticket" type="unordered"
                                            itemType="none" paginator="true" rows="10" styleClass="paginated">
                                    <h:form>
                                        <div>
                                            <h:commandLink
                                                    action="#{ticketController.getTicketDetails(ticket)}">
                                                <h:outputText value="#{ticket.date.time}" >
                                                    <f:convertDateTime type="both" dateStyle="long" locale="nl_BE" timeZone="Europe/Brussels" />
                                                </h:outputText>
                                                <h:outputText value=" -- #{ticket.order.customer.firstName} #{ticket.order.customer.lastName}" />
                                            </h:commandLink>
                                        </div>
                                    </h:form>
                                </p:dataList>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h2>Open</h2>
                            <div>
                                <p:dataList value="#{ticketController.openTickets}" var="ticket" type="unordered"
                                            itemType="none" paginator="true" rows="10" styleClass="paginated">
                                    <h:form>
                                        <div>
                                            <h:commandLink
                                                    action="#{ticketController.getTicketDetails(ticket)}">
                                                <h:outputText value="#{ticket.date.time}" >
                                                    <f:convertDateTime type="both" dateStyle="long" locale="nl_BE" timeZone="Europe/Brussels" />
                                                </h:outputText>
                                                <h:outputText value=" -- #{ticket.order.customer.firstName} #{ticket.order.customer.lastName}" />
                                            </h:commandLink>
                                        </div>
                                    </h:form>
                                </p:dataList>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h2>In wacht</h2>
                            <div>
                                <p:dataList value="#{ticketController.onholdTickets}" var="ticket" type="unordered"
                                            itemType="none" paginator="true" rows="10" styleClass="paginated">
                                    <h:form>
                                        <div>
                                            <h:commandLink
                                                    action="#{ticketController.getTicketDetails(ticket)}">
                                                <h:outputText value="#{ticket.date.time}" >
                                                    <f:convertDateTime type="both" dateStyle="long" locale="nl_BE" timeZone="Europe/Brussels" />
                                                </h:outputText>
                                                <h:outputText value=" -- #{ticket.order.customer.firstName} #{ticket.order.customer.lastName}" />
                                            </h:commandLink>
                                        </div>
                                    </h:form>
                                </p:dataList>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h2>Opgelost</h2>
                            <div>
                                <p:dataList value="#{ticketController.solvedTickets}" var="ticket" type="unordered"
                                            itemType="none" paginator="true" rows="10" styleClass="paginated">
                                    <h:form>
                                        <div>
                                            <h:commandLink
                                                    action="#{ticketController.getTicketDetails(ticket)}">
                                                <h:outputText value="#{ticket.date.time}" >
                                                    <f:convertDateTime type="both" dateStyle="long" locale="nl_BE" timeZone="Europe/Brussels" />
                                                </h:outputText>
                                                <h:outputText value=" -- #{ticket.order.customer.firstName} #{ticket.order.customer.lastName}" />
                                            </h:commandLink>
                                        </div>
                                    </h:form>
                                </p:dataList>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>