<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">
    <ui:define name="content">
        <div class="container">
            <div class="row padding-top justify-content-center align-items-center">
                <div class="col-sm-8 text-center">
                    <h2>
                        Klantendienst Ticket
                        <small class="text-muted">#{ticketController.status}</small>
                    </h2>

                    <h:form>
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <div class="form-group">
                                    <h:outputLabel for="customer" value="Klant"/>
                                    <h:inputText
                                            value="#{ticketController.ticketDetails.order.customer.firstName} #{ticketController.ticketDetails.order.customer.lastName}"
                                            id="customer" class="form-control" readonly="true"/>
                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="date" value="Datum ticket"/>
                                    <h:inputText
                                            value="#{ticketController.ticketDetails.date.time}"
                                            id="date" class="form-control" readonly="true">
                                        <f:convertDateTime type="both" dateStyle="long" locale="nl_BE"
                                                           timeZone="Europe/Brussels"/>
                                    </h:inputText>
                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="description" value="Beschrijving"/>
                                    <h:inputTextarea value="#{ticketController.ticketDetails.description}"
                                                     rows="10" id="description" class="form-control" readonly="true"/>
                                </div>
                            </div>
                            <div class="col-sm-6 text-center">
                                <div class="form-group">
                                    <h:outputLabel for="support" value="Support"/>
                                    <h:inputText
                                            value="#{ticketController.ticketDetails.support.firstName} #{ticketController.ticketDetails.support.lastName}"
                                            id="support" class="form-control" readonly="true"/>
                                </div>
                                <div class="form-group">
                                    <h:outputLabel for="subject" value="Onderwerp"/>
                                    <h:inputText
                                            value="#{ticketController.subject}"
                                            id="subject" class="form-control"/>
                                </div>
                                <div class="form-group">

                                    <h:outputLabel for="answer" value="Antwoord"/>
                                    <h:inputTextarea value="#{ticketController.answer}"
                                                     rows="10" id="answer" class="form-control"/>
                                </div>
                                <div>
                                    <h:commandButton value="Antwoorden" action="#{ticketController.sendReply(ticketController.ticketDetails)}"
                                                     update="@form" class="btn btn-primary"/>
                                </div>
                            </div>

                        </div>
                    </h:form>
                    <h:form>
                        <hr/>
                        <div class="row">
                            <div class="col-sm-3 text-left">
                                <h:commandButton value="Terug" action="#{ticketController.supportTicketLists()}"
                                                 update="@form" class="btn btn-default"/>
                            </div>
                            <div class="col-sm-3 text-center">
                                <h:commandButton value="Open"
                                                 action="#{ticketController.changeStatus('open', ticketController.ticketDetails)}"
                                                 update="@form" class="btn"/>
                            </div>
                            <div class="col-sm-3 text-center">
                                <h:commandButton value="In wacht"
                                                 action="#{ticketController.changeStatus('onhold', ticketController.ticketDetails)}"
                                                 update="@form" class="btn"/>
                            </div>
                            <div class="col-sm-3 text-right">
                                <h:commandButton value="Opgelost"
                                                 action="#{ticketController.changeStatus('solved', ticketController.ticketDetails)}"
                                                 update="@form" class="btn"/>
                            </div>
                        </div>
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
