<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" template="../layout.xhtml">
    <ui:define name="content">
        <div class="container">
            <div class="row">
                <div class="jumbotron col-12">
                    <h1 class="display-3">Oops!</h1>
                    <h2 class="display-4">Betaling is niet doorgevoerd.</h2>
                    <p class="lead">Er heeft zich een probleem voorgedaan.</p>
                    <hr class="my-4"/>
                    <p class="lead">
                        <h:link value="Naar producten" outcome="/index.xhtml" styleClass="btn btn-primary btn-lg"/>
                    </p>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>