<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" template="../layout.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    <ui:define name="content">
        <h:form>
            <div class="container">
                <h2>#{customerController.customer.firstName} #{customerController.customer.lastName}</h2>
                <h3>Uw bestellingen</h3>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="bestellingen-tab" data-toggle="tab" href="#bestellingen"
                           role="tab" aria-controls="bestellingen" aria-selected="true">Bestellingen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="openBestellingen-tab" data-toggle="tab" href="#openBestellingen"
                           role="tab" aria-controls="openBestrellingen" aria-selected="false">Open Bestellingen</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="bestellingen" role="tabpanel"
                         aria-labelledby="bestellingen-tab">
                        <p:dataList value="#{orderController.ordersHistory}" var="orderHistory" type="unordered"
                                    itemType="none" paginator="true" rows="5" styleClass="paginated">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm-3 text-left">
                                            <ul class="list-unstyled">
                                                <li>BESTEL DATUM</li>
                                                <li>
                                                    <h:outputText value="#{orderHistory.orderDate}">
                                                        <f:convertDateTime dateStyle="long" locale="nl_BE"
                                                                           timeZone="Europe/Brussels"/>
                                                    </h:outputText>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 text-center">
                                            <ul class="list-unstyled">
                                                <li>TOTAAL</li>
                                                <li>
                                                    <h:outputText value="EUR #{orderHistory.price}"/>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 text-center">
                                            <ul class="list-unstyled">
                                                <li>Lever adres</li>
                                                <li>
                                                    <h:outputText
                                                            value="#{orderHistory.customer.deliveryAddress1.street}, #{orderHistory.customer.deliveryAddress1.postalCode} #{orderHistory.customer.deliveryAddress1.city}"/>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 text-right">
                                            <ul class="list-unstyled">
                                                <li>
                                                    BestelNr.: <h:outputText value="#{orderHistory.id}"/>
                                                </li>
                                                <li>
                                                    Status: <h:outputText value="#{orderHistory.orderStatus}" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p:dataList value="#{orderHistory.orderLines}" var="orderHistoryLine"
                                                type="unordered"
                                                itemType="none">
                                        <div class="row">
                                            <div class="col-sm-4 ">
                                                <img src="#{orderHistoryLine.product.getImagePath()}"
                                                     alt="afbeelding" height="100px"/>
                                            </div>
                                            <div class="col-sm-8 ">
                                                <div><h:outputLink
                                                        value="${request.contextPath}/productdetail.xhtml?productId=${orderHistoryLine.product.id}"
                                                        style="color: #007bff">
                                                    #{orderHistoryLine.product.name}
                                                </h:outputLink>
                                                </div>
                                                <div>
                                                    <h:outputText value="EUR #{orderHistoryLine.actualPrice}"/>
                                                </div>
                                                <div>
                                                    <h:outputText value="Aantal: #{orderHistoryLine.amount}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <hr/>
                                    </p:dataList>
                                </div>
                            </div>
                        </p:dataList>
                    </div>
                    <div class="tab-pane fade" id="openBestellingen" role="tabpanel"
                         aria-labelledby="openBestellingen-tab">
                        <p:dataList value="#{orderController.ordersOpen}" var="orderOpen" type="unordered"
                                    itemType="none" paginator="true" rows="5" styleClass="paginated">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm-3 text-left">
                                            <ul class="list-unstyled">
                                                <li>BESTEL DATUM</li>
                                                <li>
                                                    <h:outputText value="#{orderOpen.orderDate}">
                                                        <f:convertDateTime dateStyle="long" locale="nl_BE"
                                                                           timeZone="Europe/Brussels"/>
                                                    </h:outputText>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 text-center">
                                            <ul class="list-unstyled">
                                                <li>TOTAAL</li>
                                                <li>
                                                    <h:outputText value="EUR #{orderOpen.price}"/>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 text-center">
                                            <ul class="list-unstyled">
                                                <li>Lever adres</li>
                                                <li>
                                                    <h:outputText
                                                            value="#{orderOpen.customer.deliveryAddress1.street}, #{orderOpen.customer.deliveryAddress1.postalCode} #{orderOpen.customer.deliveryAddress1.city}"/>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 text-right">
                                            <ul class="list-unstyled">
                                                <li>
                                                    BestelNr.: <h:outputText value="#{orderOpen.id}"/>
                                                </li>
                                                <li>
                                                    Status: <h:outputText value="#{orderOpen.orderStatus}" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p:dataList value="#{orderOpen.orderLines}" var="orderOpenLine"
                                                type="unordered"
                                                itemType="none">
                                        <div class="row">
                                            <div class="col-sm-4 ">
                                                <img src="#{orderOpenLine.product.getImagePath()}"
                                                     alt="afbeelding" height="100px"/>
                                            </div>
                                            <div class="col-sm-8 ">
                                                <div><h:outputLink
                                                        value="${request.contextPath}/productdetail.xhtml?productId=${orderOpenLine.product.id}"
                                                        style="color: #007bff">
                                                    #{orderOpenLine.product.name}
                                                </h:outputLink>
                                                </div>
                                                <div>
                                                    <h:outputText value="EUR #{orderOpenLine.actualPrice}"/>
                                                </div>
                                                <div>
                                                    <h:outputText value="Aantal: #{orderOpenLine.amount}"/>
                                                </div>
                                            </div>
                                        </div>
                                        <hr/>
                                    </p:dataList>
                                </div>
                            </div>
                        </p:dataList>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>