<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" template="../layout.xhtml">
    <ui:define name="content">
        <h:form>
            <p:growl id="update-status" />

            <div class="container">
                <h2>#{customerController.customer.firstName} #{customerController.customer.lastName}</h2>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile-page" role="tab" aria-controls="info" aria-selected="true">Profiel bewerken</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="password-tab" data-toggle="tab" href="#password-page" role="tab" aria-controls="password" aria-selected="false">Wachtwoord veranderen</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile-page" role="tabpanel" aria-labelledby="profile-tab">
                        <p:fragment autoUpdate="true">
                            <p:remoteCommand name="updateProfile" update="@form,:headerUserName" actionListener="#{customerController.saveCustomer}"/>
                            <div class="form-row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-outline-primary btn-block font-weight-bold" onclick="updateProfile()" style="margin-top: 10px;margin-bottom: 10px">Profiel opslaan</button>
                                </div>
                            </div>
                            <div id="personal-info" class="form-row">
                                <div class="col-12"><h3>Persoonlijke gegevens</h3></div>
                                <div class="form-group col-md-6">
                                    <label for="firstname">Voornaam</label>
                                    <p:inputText id="firstname"
                                                 value="#{customerController.customer.firstName}"
                                                 styleClass="form-control"
                                                 required="true"
                                                 requiredMessage="Gelieve uw voornaam in te geven">
                                    </p:inputText>
                                    <h:message for="firstname" class="error"/>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="lastname">Familienaam</label>
                                    <p:inputText id="lastname"
                                                 value="#{customerController.customer.lastName}"
                                                 styleClass="form-control"
                                                 required="true"
                                                 requiredMessage="Gelieve uw familienaam in te geven">
                                    </p:inputText>
                                    <h:message for="lastname" class="error"/>
                                </div>
                                <div class="form-group col-12">
                                    <label for="email">E-mailadres</label>
                                    <p:inputText id="email"
                                                 value="#{customerController.customer.email}"
                                                 styleClass="form-control"
                                                 required="true"
                                                 requiredMessage="Gelieve uw email adres in te vullen"
                                                 validatorMessage="Gelieve een geldig email adres in te vullen">
                                        <f:validateRegex pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"/>
                                    </p:inputText>
                                    <h:message for="email" class="error"/>
                                </div>
                                <div class="col-12"><hr/></div>
                            </div>
                            <div id="address-info" class="form-row">
                                <div class="col-12"><h3>Adressen</h3></div>
                                <div class="col-12"><h4>Facturatie-adres</h4></div>
                                <div class="form-group col-12">
                                    <label for="billing-street">Straatnaam en huisnummer/ bus</label>
                                    <p:inputText id="billing-street" value="#{customerController.customer.billingAddress.street}" styleClass="form-control"/>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="billing-postal-code">Postcode</label>
                                    <p:inputText id="billing-postal-code" value="#{customerController.customer.billingAddress.postalCode}" styleClass="form-control"/>
                                </div>
                                <div class="form-group col-sm-8">
                                    <label for="billing-city">Gemeente</label>
                                    <p:inputText id="billing-city" value="#{customerController.customer.billingAddress.city}" styleClass="form-control"/>
                                </div>

                                <div class="col-12"><h4>Bezorgadres</h4></div>
                                <div class="form-group col-12">
                                    <label for="delivery-street">Straatnaam en huisnummer/ bus</label>
                                    <p:inputText id="delivery-street" value="#{customerController.customer.deliveryAddress1.street}" styleClass="form-control"/>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="delivery-postal-code">Postcode</label>
                                    <p:inputText id="delivery-postal-code" value="#{customerController.customer.deliveryAddress1.postalCode}" styleClass="form-control"/>
                                </div>
                                <div class="form-group col-sm-8">
                                    <label for="delivery-city">Gemeente</label>
                                    <p:inputText id="delivery-city" value="#{customerController.customer.deliveryAddress1.city}" styleClass="form-control"/>
                                </div>

                                <div class="col-12"><h4>Tweede bezorgadres</h4></div>
                                <div class="form-group col-12">
                                    <label for="delivery-street-2">Straatnaam en huisnummer/ bus</label>
                                    <p:inputText id="delivery-street-2" value="#{customerController.customer.deliveryAddress2.street}" styleClass="form-control"/>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="delivery-postal-code-2">Postcode</label>
                                    <p:inputText id="delivery-postal-code-2" value="#{customerController.customer.deliveryAddress2.postalCode}" styleClass="form-control"/>
                                </div>
                                <div class="form-group col-sm-8">
                                    <label for="delivery-city-2">Gemeente</label>
                                    <p:inputText id="delivery-city-2" value="#{customerController.customer.deliveryAddress2.city}" styleClass="form-control"/>
                                </div>

                                <div class="col-12"><hr/></div>
                            </div>
                            <div class="form-row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-outline-primary btn-block font-weight-bold" onclick="updateProfile()" style="margin-top: 10px;margin-bottom: 10px">Profiel opslaan</button>
                                </div>
                            </div>
                        </p:fragment>
                    </div>
                    <div class="tab-pane fade" id="password-page" role="tabpanel" aria-labelledby="password-tab">
                        <p:fragment autoUpdate="true">
                            <p:remoteCommand name="updatePassword" update="update-status" actionListener="#{customerController.updateCustomerPassword}"/>
                            <div class="form-row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-outline-primary btn-block font-weight-bold" onclick="updatePassword()" style="margin-top: 10px;margin-bottom: 10px">Wachtwoord opslaan</button>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12"><h3>Wachtwoord veranderen</h3></div>
                                <div class="form-group col-12">
                                    <h:outputLabel for="password" value="Wachtwoord"/>
                                    <p:password id="password" name="password" value="#{customerController.newPassword}"
                                                class="form-control" match="password2"
                                                required="true"
                                                validatorMessage="De wachtwoorden zijn niet aan elkaar gelijk"
                                                requiredMessage="Gelieve het wachtwoord in te vullen"/>
                                    <h:message for="password" class="error"/>
                                </div>
                                <div class="form-group col-12">
                                    <h:outputLabel for="password2" value="Wachtwoord herhalen"/>
                                    <p:password id="password2" value="#{customerController.newPassword2}"
                                                class="form-control"
                                                required="true"
                                                requiredMessage="Gelieve het wachtwoord te herhalen"/>
                                    <h:message for="password2" class="error"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12">
                                    <button type="button" class="btn btn-outline-primary btn-block font-weight-bold" onclick="updatePassword()" style="margin-top: 10px;margin-bottom: 10px">Wachtwoord opslaan</button>
                                </div>
                            </div>
                        </p:fragment>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>