<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" template="../layout.xhtml">
    <ui:define name="content">
        <div class="container">
            <div class="row padding-top justify-content-center align-items-center">
                <div class="col-sm-6 text-center">
                    <h1>Klantendienst Ticket</h1>
                    <h:form>
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <div class="form-group">
                                    <h:outputLabel value="Bestellingen" for="orders" /><br />
                                    <h:selectOneListbox value="#{ticketController.orderId}" id="orders" styleClass="form-control text-center" required="true" requiredMessage="Kies een bestelling">
                                        <f:selectItems value="#{ticketController.orders}" var="order" itemValue="#{order.id}" itemLabel="#{order.orderDate} (#{order.id})" />
                                    </h:selectOneListbox>
                                    <h:message for="orders" class="error"/>
                                </div>
                            </div>
                            <div class="col-sm-6 text-center">
                                <div class="form-group">
                                    <h:outputLabel value="Beschrijving" for="description" />
                                    <h:inputTextarea rows="10" id="description" value="#{ticketController.description}" title="desciption" class="form-control" required="true" requiredMessage="beschrijving is verplicht" />
                                    <h:message for="description" class="error"/>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h:commandButton value="Stuur ticket" action="#{ticketController.saveTicket()}"
                                             update="@form" class="btn btn-primary"/>
                        </div>
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>