<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" template="/layout.xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core">
    <ui:define name="content">
        <h:form>
        <div class="container">
            <div class="card">
            <div class="card-header">
            <div class="row">
            <div class="col-sm-6 text-center">
                <h:outputText value="Aantal producten: #{cartController.shoppingCart.itemCount}"/>
            </div>
                <div class="col-sm-6 text-center">
                    <h:outputText value="Totaal prijs: €#{cartController.shoppingCart.totalPrice}"/>
                </div>
            </div>
            </div>
                <div class="card-body">
                    <c:if test="#{cartController.isEmpty}">
                        <h1>Uw winkelwagen is leeg.</h1>
                    </c:if>
                    <c:if test="#{!cartController.isEmpty}">
                        <p:dataList value="#{cartController.items}" var="item" type="unordered" itemType="none" paginator="false">
                            <f:facet name="header">Winkelmandje</f:facet>
                            <hr></hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="#{item.product.imagePath}" alt="afbeelding" height="100px" />
                                </div>
                                <div class="col-sm-4">
                                    <div><h:outputLink
                                            value="${request.contextPath}/productdetail.xhtml?productId=${item.product.id}"
                                            style="color: #007bff">
                                        #{item.product.name}
                                    </h:outputLink>
                                    </div>
                                    <div>
                                        <h:outputText value="€#{item.product.price}"/>
                                    </div>
                                    <div>
                                        <h:outputText value="Aantal: #{item.amount}"/>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div>
                                        <h:outputText value="Subtotaal: €#{item.subTotal}"/>
                                    </div>
                                </div>
                            </div>
                        </p:dataList>
                    </c:if>
                </div>
                <div class="form-group">
                    <c:if test="#{authController.userLoggedIn()}">
                        <h:commandButton action="#{paymentController.createPayment(cartController.shoppingCart.toOrder())}" value="Bestel" class="btn btn-primary"/>
                    </c:if>
                    <c:if test="#{!authController.userLoggedIn()}">
                        <h:button styleClass="btn btn-primary" value="login in" action="/login.xhtml?faces-redirect=true" />
                    </c:if>
                </div>
            </div>
        </div>
        </h:form>
    </ui:define>
</ui:composition>
