<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <h:link value="MediaShop" outcome="/index.xhtml" styleClass="navbar-brand"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item">
                    <h:link value="Winkelmandje" outcome="/cart.xhtml" styleClass="nav-link" />
                </li>
                <c:if test="#{authController.userLoggedIn()}">
                    <c:if test="#{authController.canAccessAdmin()}">
                        <li class="nav-item">
                            <h:link value="Admin" outcome="/admin/index.xhtml" styleClass="nav-link"/>
                        </li>
                    </c:if>
                    <c:if test="#{authController.canAccessSupport()}">
                        <li class="nav-item">
                            <h:link value="Support" outcome="/support/index.xhtml" styleClass="nav-link"/>
                        </li>
                    </c:if>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <h:outputText id="headerUserName" value="#{userSession.user.firstName} #{userSession.user.lastName}" />
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarUserDropdown">
                            <ui:fragment rendered="#{authController.canAccessCustomer()}">
                                <h:outputLink value="${request.contextPath}/customer/profile.xhtml" styleClass="dropdown-item">Profiel</h:outputLink>
                                <h:form>
                                    <h:outputLink value="${request.contextPath}/customer/redirectticket.xhtml" styleClass="dropdown-item">Support</h:outputLink>
                                    <h:outputLink value="${request.contextPath}/customer/redirectorders.xhtml" styleClass="dropdown-item">Bestellingen</h:outputLink>
                                </h:form>
                            </ui:fragment>
                            <h:outputLink value="${request.contextPath}/logout" styleClass="dropdown-item">Uitloggen</h:outputLink>
                        </div>
                    </li>
                </c:if>
                <c:if test="#{!authController.userLoggedIn()}">
                    <li class="nav-item">
                        <h:link value="Registreer" outcome="/register.xhtml" styleClass="nav-link"/>
                    </li>
                    <li class="nav-item">
                        <h:link value="Login" outcome="/login.xhtml" styleClass="nav-link"/>
                    </li>
                </c:if>
            </ul>
        </div>
    </nav>
</ui:composition>