<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
    <f:facet name="first">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Producten</title>
    </f:facet>
    <f:facet name="middle">
        <h:outputStylesheet name="css/bootstrap.min.css"/>
        <h:outputStylesheet name="css/style.css"/>

    </f:facet>
    <f:facet name="last">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
                crossorigin="anonymous"></script>
        <h:outputScript name="js/bootstrap.min.js"/>

    </f:facet>
</h:head>
<h:body>
    <ui:composition template="layout.xhtml">
        <ui:define name="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-2" style="background-color: lightgray;">
                        <h4 style="padding-top: 10px">Zoek op:</h4>
                        <h:form>

                            <p></p>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Zoekcriteria
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">


                                    <p:commandButton type="submit" action="#{productController.laagstePrijs()}"
                                                     ajax="false" class="dropdown-item"
                                                     value="Goedkoopste eerst"></p:commandButton><br/>

                                    <p:commandButton type="submit" action="#{productController.orderByName()}"
                                                     ajax="false" class="dropdown-item"
                                                     value="Alfabetisch eerst"></p:commandButton><br/>

                                    <p:commandButton type="submit" action="#{productController.getAllCdList()}"
                                                     ajax="false" class="dropdown-item"
                                                     value="Enkel Cd's"></p:commandButton><br/>

                                    <p:commandButton type="submit" action="#{productController.getAllDvdList()}"
                                                     ajax="false" class="dropdown-item"
                                                     value="Enkel Dvd's"></p:commandButton><br/>

                                    <p:commandButton type="submit" action="#{productController.findAllByStock()}"
                                                     ajax="false" class="dropdown-item"
                                                     value="Enkel op vooraad"></p:commandButton><br/>

                                </div>
                            </div>
                            <br/>


                        </h:form>

                        <div class="content-to-hide-xs">
                            <h4>CD's</h4>
                            <p:repeat value="#{productController.getAllCd()}" var="cd">
                                <div>
                                    <h:outputLink value="${request.contextPath}/productdetail.xhtml?productId=${cd.id}">
                                        #{cd.name}</h:outputLink>
                                </div>
                            </p:repeat>
                            <h4>DVD's</h4>
                            <p:repeat value="#{productController.getAllDvd()}" var="dvd">
                                <div>
                                    <h:outputLink value="${request.contextPath}/productdetail.xhtml?productId=${dvd.id}">
                                        #{dvd.name}</h:outputLink>
                                </div>
                            </p:repeat>
                        </div>
                    </div>

                    <h:form styleClass="col-lg-10 col-sm-12">
                        <p:dataGrid var="product" value="#{productController.getProducts()}" rows="10" colums="3"
                                    layout="grid"
                                    paginator="true"
                                    styleClass="paginated"
                                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                    rowsPerPageTemplate="5,10,15">
                            <p:panel style="border-radius: 10px; border: 1px solid darkgray">
                                <h:panelGrid style="width:100%">
                                    <p:outputPanel >
                                            <img src="#{product.getImagePath()}" alt="afbeelding" width="100%" height="300px" />


                                        <hr/>
                                        <h4>#{product.name} - <b class="content-to-hide-xs">#{product.price}€</b></h4>
                                        <h4 class="content-to-hide-lg"><b>#{product.price}€</b></h4>

                                        <h:panelGrid>
                                            <div data-toggle="tooltip" title="#{product.description}">
                                                <div class="content-to-hide-xs">
                                                <span class="d-inline-block text-truncate "
                                                      style="max-width: 380px;">
                                                    #{product.description}
                                                </span>
                                                </div>
                                                <div class="content-to-hide-lg">
                                                <span class="d-inline-block text-truncate"
                                                      style="max-width: 250px;">
                                                    #{product.description}
                                                </span>
                                                </div>
                                            </div>

                                            <i>Nog maar #{product.stock} op vooraad!</i>
                                            <b><h:outputText value="#{product.price}€"/></b>
                                            <h:outputLink
                                                    value="${request.contextPath}/productdetail.xhtml?productId=${product.id}"
                                                    styleClass="btn btn-primary"
                                                    style="color:white;">Bekijk details</h:outputLink>
                                        </h:panelGrid>
                                    </p:outputPanel>
                                </h:panelGrid>
                            </p:panel>
                        </p:dataGrid>
                    </h:form>

                </div>
            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>


