<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <script name="jquery/jquery.js" library="primefaces"></script>
    <title>Register Employee</title>
</h:head>
<h:body>
    <h1>Login test</h1>
    <!--  knop -->
    <h:form>
        <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
        <p:commandButton value="maak test objecten aan" action="#{testController.makeObjects}" ajax="false" styleClass="ui-priority-primary" />
        <p:commandButton value="maak producten aan" action="#{testController.makeProducts}" ajax="false" styleClass="ui-priority-primary" />
        <p:commandButton value="extra order" action="#{testController.extraOrder}" ajax="false" styleClass="ui-priority-primary" />
        <p:commandButton value="test payment service" action="#{paymentController.testPayment}" ajax="false" styleClass="ui-priority-primary" />
    </h:form>

    <h:form  prependId="false" method="POST">
        <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
        <p:commandButton value="Login" action="login.xhtml"/>
    </h:form>

    <h:outputLink value="${request.contextPath}/logout">Logout</h:outputLink>

</h:body>
</html>