
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">
    <ui:define name="content">
    <div class="container">
        <div class="row padding-top">
            <div class="col-sm-12 text-center">
                <h3>Login</h3>

                <h:form prependId="false" method="POST" id="loginForm">
                    <input type="hidden" name="#{_csrf.parameterName}" value="#{_csrf.token}"/>
                    <p:growl id="messages"/>
                    <h:message class="error" for="errorMessage" id="errorMessage"/>
                    <div class="form-group">
                        <p:outputLabel value="E-mail:"/>
                        <h:inputText id="username" name="username" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <p:outputLabel value="Password:"/>
                        <h:inputSecret  id="password" name="password" class="form-control"/>
                    </div>
                    <h:commandButton value="Login" class="btn btn-primary" action="/login.xhtml" ajax="false"/>
                </h:form>​
            </div>
        </div>
    </div>
    </ui:define>
</ui:composition>