    <ui:composition xmlns="http://www.w3.org/1999/xhtml"
                    xmlns:h="http://java.sun.com/jsf/html"
                    xmlns:f="http://java.sun.com/jsf/core"
                    xmlns:p="http://primefaces.org/ui"
                    xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">
        <ui:define name="content">
            <f:metadata>
                <f:viewAction action="#{productController.getProductById(param.productId)}"/>
            </f:metadata>

            <ui:fragment rendered="#{productController.product != null}">
                <h:form>
                    <div class="container">
                        <div class="row" id="product-name">
                            <div class="col">
                                <h1><h:outputText value="#{productController.product.name}"/></h1>
                            </div>
                        </div>
                        <div class="row" id="product-stars">
                            <div class="col">
                                <table>
                                    <tr>
                                        <td><p:rating value="#{productController.product.ratingInt}" readonly="true" /> </td>
                                        <td><a href="#product-rating">#{productController.product.reviews.size()} review(s)</a></td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                        <div class="row" id="product-info">
                            <div class="col-md">
                                <p:galleria value="#{productController.product.imageNames}" var="image"  styleClass="w-100">
                                    <p:graphicImage url="#{image}" alt="Afbeelding van #{productController.product.name}" styleClass="mw-100" style="height: auto"/>
                                </p:galleria>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <ui:fragment rendered="#{(productController.product.stock gt 0) and (not productController.product.deleted)}">
                                        <div class="col-12">
                                            <h2 class="text-danger text-center font-weight-bold">
                                                <h:outputText value="#{productController.product.price}">
                                                    <f:convertNumber type="currency" locale="nl_BE" />
                                                </h:outputText>
                                            </h2>
                                        </div>
                                        <div class="col-12">
                                            <p:remoteCommand name="rc" actionListener="#{cartController.AddProduct(productController.product,1)}" />
                                            <button class="btn btn-success btn-block btn-large" onclick="rc()">Naar winkelmandje <span class="badge badge-warning">#{productController.product.stock} in stock</span></button>
                                        </div>
                                    </ui:fragment>
                                    <ui:fragment rendered="#{(productController.product.stock le 0) and (not productController.product.deleted)}">
                                        <div class="col-12">
                                            <h2 class="text-danger">Niet in stock</h2>
                                        </div>
                                    </ui:fragment>
                                    <ui:fragment rendered="#{productController.product.deleted}">
                                        <div class="col-12">
                                            <h2 class="text-danger">Niet meer verkrijgbaar</h2>
                                        </div>
                                    </ui:fragment>
                                    <div class="col-12">
                                        <p class="pt-3"><h:outputText value="#{productController.product.description}"/></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row" id="product-specs">
                            <div class="col">
                                <ui:fragment rendered="#{productController.product.getType() == 'dvd'}">
                                    <ui:include src="/specs/dvd.xhtml"/>
                                </ui:fragment>
                                <ui:fragment rendered="#{productController.product.getType() == 'cd' }">
                                    <ui:include src="/specs/cd.xhtml"/>
                                </ui:fragment>
                            </div>
                        </div>
                        <hr/>
                        <div class="row" id="product-rating">
                            <div class=" col-md-3">
                                <div>
                                    <h4>Gemiddelde beoordeling</h4>
                                    <h2 class="bold">#{productController.product.rating} <small>/ 5</small></h2>

                                </div>
                            </div>
                            <div class="col-md">
                                <ui:param name="reviewCount" value="#{reviewController.getReviewCount()}"/>
                                <table >
                                    <tr>
                                        <td><p:rating value="#{5}" readonly="true" /></td>
                                        <td>
                                            <div class="progress" style="width: 180px">
                                                <ui:param name="rating5Count" value="#{reviewController.getRatingCount(5)}"/>
                                                <div class="progress-bar bg-success" role="progressbar" style="width: #{(rating5Count*100)/reviewCount}%" aria-valuenow="#{rating5Count}" aria-valuemin="0" aria-valuemax="#{reviewCount}"></div>
                                            </div>
                                        </td>
                                        <td>#{rating5Count}</td>
                                    </tr>
                                    <tr>
                                        <td><p:rating value="#{4}" readonly="true" /></td>
                                        <td>
                                            <div class="progress" style="width: 180px">
                                                <ui:param name="rating4Count" value="#{reviewController.getRatingCount(4)}"/>
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: #{(rating4Count*100)/reviewCount}%" aria-valuenow="#{rating4Count}" aria-valuemin="0" aria-valuemax="#{reviewCount}"></div>
                                            </div>
                                        </td>
                                        <td>#{rating4Count}</td>
                                    </tr>
                                    <tr>
                                        <td><p:rating value="#{3}" readonly="true" /></td>
                                        <td>
                                            <div class="progress" style="width: 180px">
                                                <ui:param name="rating3Count" value="#{reviewController.getRatingCount(3)}"/>
                                                <div class="progress-bar bg-info" role="progressbar" style="width: #{(rating3Count*100)/reviewCount}%" aria-valuenow="#{rating3Count}" aria-valuemin="0" aria-valuemax="#{reviewCount}"></div>
                                            </div>
                                        </td>
                                        <td>#{rating3Count}</td>
                                    </tr>
                                    <tr>
                                        <td><p:rating value="#{2}" readonly="true" /></td>
                                        <td>
                                            <div class="progress" style="width: 180px">
                                                <ui:param name="rating2Count" value="#{reviewController.getRatingCount(2)}"/>
                                                <div class="progress-bar bg-warning" role="progressbar" style="width: #{(rating2Count*100)/reviewCount}%" aria-valuenow="#{rating2Count}" aria-valuemin="0" aria-valuemax="#{reviewCount}"></div>
                                            </div>
                                        </td>
                                        <td>#{rating2Count}</td>
                                    </tr>
                                    <tr>
                                        <td><p:rating value="#{1}" readonly="true" /></td>
                                        <td>
                                            <div class="progress" style="width: 180px">
                                                <ui:param name="rating1Count" value="#{reviewController.getRatingCount(1)}"/>
                                                <div class="progress-bar bg-danger" role="progressbar" style="width: #{(rating1Count*100)/reviewCount}%" aria-valuenow="#{rating1Count}" aria-valuemin="0" aria-valuemax="#{reviewCount}"></div>
                                            </div>
                                        </td>
                                        <td>#{rating1Count}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <hr/>
                        <div class="row" id="product-reviews">
                            <div class="col">

                                <input type="hidden" name="productId" value="#{param.productId}"/>
                                <ui:fragment rendered="#{authController.userLoggedIn()}">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <h:outputText id="max-comment"/>
                                                <p:inputTextarea id="comment"  counter="max-comment"
                                                                 maxlength="255"
                                                                 counterTemplate="{0} karakters over."
                                                                 placeholder="geef hier je review in..."
                                                                 class="form-control"
                                                                 rows="2"
                                                                 value="#{reviewController.comment}">

                                                </p:inputTextarea>
                                                <p:rating id="rating" value="#{reviewController.rating}" />
                                                <p:commandButton value="Opslaan" class="" actionListener="#{reviewController.saveReview()}" update="@form"/>
                                            </div>
                                            <hr/>
                                        </div>
                                    </div>
                                </ui:fragment>
                                <ui:repeat id="review-list" value="#{reviewController.getReviews()}" var="review">
                                    <div class="row">
                                        <div class="col-md-2">
                                            #{review.user.firstName} #{review.user.lastName}
                                            <br/>
                                            <h:outputText value="#{review.date.time}">
                                                <f:convertDateTime type="both" dateStyle="long" locale="nl_BE" timeZone="Europe/Brussels"/>
                                            </h:outputText>
                                        </div>
                                        <div class="col-md">
                                            <p:rating value="#{review.rating}" readonly="true" />
                                            <p>#{review.comment}</p>
                                        </div>
                                    </div>
                                    <hr/>
                                </ui:repeat>
                            </div>
                        </div>
                    </div>
                </h:form>
            </ui:fragment>
            <ui:fragment rendered="#{productController.product == null}">
                <div class="text-center">
                    <h2>Geen product gespecifieërd of product bestaat niet!</h2>
                </div>
            </ui:fragment>

        </ui:define>
    </ui:composition>