<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">
    <ui:define name="content">
        <div class="container">
            <div class="row padding-top justify-content-center align-items-center">
                <div class="col-sm-3">
                    <h1>Registreren</h1>
                    <h:form>
                        <div class="form-group">
                            <h:outputLabel for="firstName" value="Voornaam:"/>
                            <h:inputText id="firstName" value="#{registerController.newUserFirstName}"
                                         class="form-control" required="true"
                                         requiredMessage="Gelieve uw voornaam in te vullen">
                                <f:validateRegex pattern="[a-zA-z]+"/>
                            </h:inputText>
                            <h:message for="firstName" class="error"/>
                        </div>
                        <div class="form-group">
                            <h:outputLabel for="lastName" value="Familienaam:"/>
                            <h:inputText id="lastName" value="#{registerController.newUserLastName}"
                                         class="form-control" required="true"
                                         requiredMessage="Gelieve uw familienaam in te vullen">
                                <f:validateRegex pattern="[a-zA-z]+"/>
                            </h:inputText>
                            <h:message for="lastName" class="error"/>
                        </div>
                        <div class="form-group">
                            <h:outputLabel for="email" value="Email adres:"/>
                            <h:inputText id="email" value="#{registerController.newUserEmail}" class="form-control"
                                         required="true"
                                         requiredMessage="Gelieve uw email adres in te vullen"
                                         validatorMessage="Gelieve een geldig email adres in te vullen">
                                <f:validateRegex pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                            </h:inputText>
                            <h:message for="email" class="error"/>
                        </div>
                        <div class="form-group">
                            <h:outputLabel for="password1" value="Wachtwoord:"/>
                            <p:password id="password1" value="#{registerController.newUserPassword1}"
                                           class="form-control" match="password2"
                                           required="true"
                                           validatorMessage="De wachtwoorden zijn niet aan elkaar gelijk"
                                           requiredMessage="Gelieve het wachtwoord in te vullen"/>
                            <h:message for="password1" class="error"/>
                        </div>
                        <div class="form-group">
                            <h:outputLabel for="password2" value="Wachtwoord herhalen:"/>
                            <p:password id="password2" value="#{registerController.newUserPassword2}"
                                           class="form-control" required="true"
                                           requiredMessage="Gelieve het wachtwoord in te vullen"/>
                            <h:message for="password2" class="error"/>
                        </div>
                        <div>
                            <h:commandButton value="Registreer" action="#{registerController.createCustomer()}"
                                             update="@form" class="btn btn-primary"/>
                        </div>
                        <div>
                            <h:outputText id="message" value="#{registerController.message}" styleClass="error"/>
                        </div>
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>