<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">
    <ui:define name="content">
        <div class="container">
            <div class="row padding-top">
                <div class="col-sm-12 text-center">
                    <h:outputText id="message" value="#{registerController.message}"/>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>