<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">
    <ui:define name="content">
        <div class="container">
            <div class="row padding-top justify-content-center align-items-center">
                <div class="col-sm-3">
                    <h1>Wachtwoord vergeten</h1>
                    <h:form>
                        <div class="form-group">
                            <h:outputLabel for="email" value="Email adres:"/>
                            <h:inputText id="email" value="#{resetPasswordController.userEmail}" class="form-control"
                                         required="true"
                                         requiredMessage="Gelieve uw email adres in te vullen"
                                         validatorMessage="Gelieve een geldig email adres in te vullen">
                                <f:validateRegex pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                            </h:inputText>
                            <h:message for="email" class="error"/>
                        </div>
                        <div>
                            <h:commandButton value="Stuur mail" action="#{resetPasswordController.sendMail()}"
                                             update="@form" class="btn btn-primary"/>
                        </div>
                        <div>
                            <h:outputText id="message" value="#{resetPasswordController.message}" styleClass="error"/>
                        </div>
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>