<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">
    <ui:define name="content">
        <div class="container">
            <div class="row padding-top justify-content-center align-items-center">
                <div class="col-sm-3">
                    <h:form>
                        <input type="hidden" name="token" value="#{param['token']}"/>
                        <div class="form-group">
                            <h:outputLabel for="password1" value="Wachtwoord:"/>
                            <p:password id="password1" value="#{resetPasswordController.userPassword1}"
                                           class="form-control" match="password2"
                                           required="true"
                                           validatorMessage="De wachtwoorden zijn niet aan elkaar gelijk"
                                           requiredMessage="Gelieve het wachtwoord in te vullen"/>
                            <h:message for="password1" class="error"/>
                        </div>
                        <div class="form-group">
                            <h:outputLabel for="password2" value="Wachtwoord herhalen:"/>
                            <p:password id="password2" value="#{resetPasswordController.userPassword2}"
                                           class="form-control" required="true"
                                           requiredMessage="Gelieve het wachtwoord in te vullen"/>
                            <h:message for="password2" class="error"/>
                        </div>
                        <div>
                            <h:commandButton value="Wachtwoord opslaan"
                                             action="#{resetPasswordController.resetPassword()}"
                                             update="@form" class="btn btn-primary"/>
                        </div>
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>